@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --body-bg-color: #686de0;
    --container-bg-color: #fff;
    --container-btn-bg-color: #9f68e0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}

.container {
    background-color: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}

.container h3 {
    margin: 0;
    opacity: .5;
    letter-spacing: 2px;
}

.container .joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.container .btn {
    background-color: var(--container-btn-bg-color);
    border: none;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1), 0 6px 6px rgba(0, 0, 0, .1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}

.container .btn:focus {
    outline: none;
}

.container .btn:active {
    transform: scale(.98);
}