@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url("https://images.unsplash.com/photo-1642229407672-32411805153f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=736&q=80") no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}